/* PROYECTOS */

#titulo3 {
    font-family: 'Tilt Warp', cursive;
    margin-top: 50px;

    color: var(--main-color);
}

.row {
    margin-top: 20px;
    margin-bottom: 50px;
}

.card {
    filter: grayscale(1);
    transition: .5s;
}

.card:hover {
    -webkit-box-shadow: -5px -5px 10px 0px rgba(0, 0, 0, 0.81);
    -moz-box-shadow: -5px -5px 10px 0px rgba(0, 0, 0, 0.81);
    box-shadow: -5px -5px 10px 0px rgba(0, 0, 0, 0.81);
    transform: scale(1.1);
    filter: grayscale(0);
}

.bi {
    padding-right: 2rem;
    font-size: 1.3em;
}

#iconos {
    text-decoration: none;
    color: white;
}

#link-proy {
    text-decoration: none;
    color: black;
}

.boton {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

@media screen and (min-width: 360px) and (max-width: 500px) {
    .card {
        filter: none;
        -webkit-box-shadow: -5px -5px 10px 0px rgba(0, 0, 0, 0.81);
        -moz-box-shadow: -5px -5px 10px 0px rgba(0, 0, 0, 0.81);
        box-shadow: -5px -5px 10px 0px rgba(0, 0, 0, 0.81);
    }

    .card:hover {
        transform: none;
    }

    .btn {
        position: unset;
        margin-left: 95px;
    }
}