<!-- PROYECTOS -->

<section id="portfolio">
    <h2 id="titulo3" class="pb-2 border-bottom">PROYECTOS</h2>
    <div class="fila">
        <div class="proyecto">
            <div class="overlay"></div>
            <img src="./assets/Imagenes/proyecto_portfolio.jpg" alt="">
            <div class="info">
                <h4>Portfolio Web Responsive</h4>
                <p>2022 - 2023</p>
            </div>
        </div>
        <div class="proyecto">
            <div class="overlay"></div>
            <img src="./assets/Imagenes/proyecto_portfolio.jpg" alt="">
            <div class="info">
                <h4>Descripción del Proyecto</h4>
                <p>Diseño Web</p>
            </div>
        </div>
        <div class="proyecto">
            <div class="overlay"></div>
            <img src="./assets/Imagenes/proyecto_portfolio.jpg" alt="">
            <div class="info">
                <h4>Descripción del Proyecto</h4>
                <p>Diseño Web</p>
            </div>
        </div>
    </div>
    <div class="fila">
        <div class="proyecto">
            <div class="overlay"></div>
            <img src="./assets/Imagenes/proyecto_portfolio.jpg" alt="">
            <div class="info">
                <h4>Descripción del Proyecto</h4>
                <p>Diseño Web</p>
            </div>
        </div>
        <div class="proyecto">
            <div class="overlay"></div>
            <img src="./assets/Imagenes/proyecto_portfolio.jpg" alt="">
            <div class="info">
                <h4>Descripción del Proyecto</h4>
                <p>Diseño Web</p>
            </div>
        </div>
        <div class="proyecto">
            <div class="overlay"></div>
            <img src="./assets/Imagenes/proyecto_portfolio.jpg" alt="">
            <div class="info">
                <h4>Descripción del Proyecto</h4>
                <p>Diseño Web</p>
            </div>
        </div>
    </div>
</section>
