/* PROYECTOS */

#titulo3 {
    font-family: 'Tilt Warp', cursive;
    margin-top: 50px;
    
    color: var(--main-color);
}

.row {
    margin-top: 20px;
    margin-bottom: 50px;
}

.card {
    filter: grayscale(1);
    transition: .5s;
}

.card:hover {
    -webkit-box-shadow: -5px -5px 10px 0px rgba(0, 0, 0, 0.81);
    -moz-box-shadow: -5px -5px 10px 0px rgba(0, 0, 0, 0.81);
    box-shadow: -5px -5px 10px 0px rgba(0, 0, 0, 0.81);
    transform: scale(1.1);
    filter: grayscale(0);
}

.bi {
    padding-right: 2rem;
    font-size: 1.3em;
}

a {
    text-decoration: none;
    color: white;
}

.btn {
    position: absolute;
    left: 83%;
}