<!-- FOOTER -->
<div id="footer" class="bg-dark">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 ms-5 me-5 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <img src="./assets/Imagenes/ArgPrograma_Logo.png" alt="" width="85px" height="45px">
            </a>
            <span class="mb-3 mb-md-0">&copy; 2022 Arnal, Jorge</span>
        </div>
    </footer>
</div>
