<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <div class="navbar-brand">
                <img src="./assets/Imagenes/ArgPrograma_Logo.png" alt="Logo" width="130" height="75"
                    class="d-inline-block align-text-top">
                <p>#YoProgramo</p>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
                    <li class="nav-item">
                        <a id="menu" class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a id="menu" class="nav-link" href="#acercaDe">Acerca de</a>
                    </li>
                    <li class="nav-item">
                        <a id="menu" class="nav-link" href="#experiencia">Experiencia</a>
                    </li>
                    <li class="nav-item">
                        <a id="menu" class="nav-link" href="#educacion">Educación</a>
                    </li>
                    <li class="nav-item">
                        <a id="menu" class="nav-link" href="#skills">Hard & soft skills</a>
                    </li>
                    <li class="nav-item">
                        <a id="menu" class="nav-link" href="#proyectos">Proyectos</a>
                    </li>
                </ul>
                <div id="navbarNavAltMarkup">
                    <div class="navbar-nav ms-auto align-items-center">
                        <a class="nav-link redes" href="https://www.instagram.com/jorge.arnal07/"><img
                                src="./assets/Imagenes/insta.png" alt="Ig" width="37px"
                                height="35px"></a>
                        <a class="nav-link redes" href="https://www.linkedin.com/in/jorge-arnal-1a5794233/"><img
                                src="./assets/Imagenes/linkedin.png" alt="Linkedin" width="37px"
                                height="35px"></a>
                        <a class="nav-link redes" href="https://github.com/JorgeArn"><img src="./assets/Imagenes/github.png"
                                alt="GitHub" width="37px" height="35px"></a>
                        <a id="logoLogIn" class="nav-link redes" href="#loginForm"><img
                                src="./assets/Imagenes/login.png" alt="Login" width="37px"
                                height="35px"></a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
