/* EXPERIENCIA */

.parrafo {
    color: var(--main-color);
}

#exp_p {
    color: var(--main-color);
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#titulo {
    font-family: 'Tilt Warp', cursive;
    color: var(--main-color);
    margin-top: 50px;
}

.bi {
    padding-right: 2rem;
    font-size: 1.3em;
}

a {
    text-decoration: none;
    color: white;
}

.boton {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

@media screen and (min-width: 360px) and (max-width: 500px) {
    .btn {
        position: unset;
        margin-left: 75px;
    }
}