<!-- EXPERIENCIA -->
<section class="container px-4 py5">
    <h2 id="titulo" class="pb-2 border-bottom">Experiencia</h2>
    <button type="button" class="btn btn-primary" routerLink="/nuevaexp" *ngIf="isLoged">Agregar Experiencia</button>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col" *ngFor="let Experiencia of expe">
            <div class="feature-icon mb-3">
                <img [src]="Experiencia.urlLogo" alt="CMA_Logo" width="70em" height="70em">
            </div>
            <h4 class="parrafo fs-2">{{Experiencia.nombreEmpresa}}</h4>
            <h5 class="parrafo">{{Experiencia.fechaInicio}} - {{Experiencia.fechaFin}}</h5>
            <p id="exp_p">
                {{Experiencia.descripcion}}
            </p>
            <a routerLink="/editexp/{{Experiencia.id}}"><i class="bi bi-pencil-fill" *ngIf="isLoged"></i></a>
            <a href="#experiencia" (click)="delete(Experiencia.id)"><i class="bi bi-trash-fill" *ngIf="isLoged"></i></a>

        </div>
    </div>
</section>
<div id="educacion" class="divider"></div>