<section>
    <div class="container">
        <div class="row">
            <div>
                <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                    <div class="form-group">
                        <label for="nombreEmpresa">Nombre de la empresa</label>
                        <input type="text" class="form-control" id="nombreEmpresa" name="nombreEmpresa"
                            [(ngModel)]="nombreEmpresa" required>
                    </div>
                    <div class="años">
                        <div class="form-group">
                            <label for="fechaInicio">Año ingreso</label>
                            <input type="text" class="form-control" id="fechaInicio" name="fechaInicio"
                                [(ngModel)]="fechaInicio" required>
                        </div>
                        <div class="form-group">
                            <label for="fechaFin">Año egreso</label>
                            <input type="text" class="form-control" id="fechaFin" name="fechaFin" [(ngModel)]="fechaFin"
                                required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripción</label>
                        <textarea type="text" class="form-control" id="descripcion" name="descripcion"
                            [(ngModel)]="descripcion" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="urlLogo">Logo</label>
                        <input type="file" class="form-control" id="urlLogo" name="urlLogo" [(ngModel)]="urlLogo">
                    </div>
                    <button class="btn btn-outline-info">Guardar experiencia</button>
                    <button class="btn btn-outline-info" (click)="cancel()">Cancelar</button>
                </form>
            </div>
        </div>
    </div>

</section>