body {
    background-color: #391953;
}

.navbar-brand {
    display: flex;
    flex-direction: row;
}

.navbar-brand p {
    margin-top: 33px;
    font-size: 15px;
}

.parallax-header {
    background: #000;
    background: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)),
        url(Imagenes/Web_development_-_Main.png);
        
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content {
    padding-top: 180px;
    padding-bottom: 50px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

ul a {
    text-decoration: none;
    margin-top: 200px;
    margin-right: 0%;
    margin-left: 0%;
    padding: 0%;
}

li {
    margin-right: 0%;
    margin-left: 0%;
    padding: 0%;
}

.AcercaDe {
    margin-top: 150px;
    display: flex;
    flex-direction: row;

}

#descripcion {
    margin-right: 300px;
    margin-top: 110px;
    margin-left: 60px;
}

.border {
    background-image: url(Imagenes/IMG_6781.jpeg);
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
    
}

#jorgeFoto {
    width: 300px;
    text-align: center;
    padding-top: 5px;
}

#fotoYnombre {
    width: 300px;
    margin-left: 300px;
}