/* LOGIN FORM */

.gradient-custom {
    background: url(../../../assets/Imagenes/1039991.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.animacion-login {
    opacity: 0;
    animation-name: animacionLogin;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes animacionLogin {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

