<!-- HARD AND SOFT SKILLS -->
<div class="container contenedor-skills" id="hsSkills">
    <h2 id="titulo2" class="container pb-2 border-bottom">HARD & SOFT SKILLS</h2>
    <div class="boton">
        <button type="button" class="btn btn-primary" routerLink="/nuevaskill" *ngIf="isLogged">Agregar Skill</button>
    </div>
    <div class="skill" *ngFor="let Skills of skl">
        <div class="caja-skill">
            <circle-progress
            [percent]="(Skills.porcentaje)"
            [radius]="100"
            [title]="(Skills.nombre)"
            [showTitle]="true"
            [titleColor]="'#ffff'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#f987f3'"
            [innerStrokeColor]="'#3c43fc'"
            [animation]="true"
            [animationDuration]="800"
            ></circle-progress>
        </div>
        <div class="iconos">
            <a routerLink="/editskill/{{Skills.id}}"><i class="bi bi-pencil-fill" *ngIf="isLogged"></i></a>
            <a href="#skills" (click)="delete(Skills.id)"><i class="bi bi-trash-fill" *ngIf="isLogged"></i></a>
        </div>
    </div>
</div>
