<!-- ACERCA DE -->
<section class="acercaDe container">
    <h2 id="titulo" class="pb-2 border-bottom">ACERCA DE</h2>
    <div id="card_foto" class="card mb-3" style="max-width: 940px;">
        <div class="row g-0">
            <div class="fotoPerfil col-md-4">
                <img src="./assets/Imagenes/FotoPerfil.jpg" class="img-fluid rounded-start" alt="FotoPerfil">
            </div>
            <div class="col-md-8">
                <div id="cuerpo_card" class="card-body">
                    <h5 class="card-title">{{persona.nombre}} <br> </h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem,
                        error eligendi accusamus adipisci quia accusantium hic similique, odio sint voluptatum aut
                        possimus voluptatibus ab! Consequuntur velit asperiores reprehenderit quidem consequatur.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="experiencia" class="divider"></div>
