<!-- ACERCA DE -->
<section class="acercaDe container">
    <h2 id="titulo" class="pb-2 border-bottom">ACERCA DE</h2>
    <button type="button" class="btn btn-primary" routerLink="/editacercade/1" *ngIf="isLogged"><i
            class="bi bi-pencil-fill"></i> Editar</button>
    <div id="card_foto" class="card mb-3" style="max-width: 940px;">
        <div class="row g-0">
            <div class="fotoPerfil col-sm-12 col-md-4 col-lg-4">
                <img src={{persona.url_foto}} class="img-fluid rounded-start" alt="FotoPerfil">
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8">
                <div id="cuerpo_card" class="card-body">
                    <h5 class="card-title">{{persona.nombre}} {{persona.apellido}} </h5>
                    <h6>Full Stack Web Developer Jr <br><br> </h6>
                    <p class="card-text">{{persona.acerca_de}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
