* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #391953;
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: white;
    --color1: #f987f3;
    --color2: rgba(254, 64, 247, 0.841);
    --color3: #abaefa;
    --color4: rgba(69, 59, 255, 0.841);
}






